@model WebShopApp.Models.ViewModels.ManageViewModels.ManageViewModel
@{
    ViewData["Title"] = "Ändra lösenord";
}

<div class="modal fade" id="changePasswordModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modalh4">
                    <span class="glyphicon glyphicon-lock">
                    </span> Ändra lösenord
                </div>
            </div>
            <div class="modal-body" style="padding:20px 50px;">
                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
                    <h4>Change Password Form</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nuvarande lösenord</label>
                        <div class="col-md-10">
                            <input asp-for="@Model.changePasswordViewModel.OldPassword" class="form-control" />
                            <span asp-validation-for="@Model.changePasswordViewModel.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nytt lösenord</label>
                        <div class="col-md-10">
                            <input asp-for="@Model.changePasswordViewModel.NewPassword" class="form-control" />
                            <span asp-validation-for="@Model.changePasswordViewModel.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Bekräfta lösenord</label>
                        <div class="col-md-10">
                            <input asp-for="@Model.changePasswordViewModel.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="@Model.changePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Ändra lösenordet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
